@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h1>We are a capable development company</h1>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec fringilla sem. Aenean tortor risus,
    egestas eu elementum eu, dictum eu nunc. Donec a faucibus nulla. Sed non arcu a ante bibendum porta. Proin dapibus
    blandit arcu eu ornare.
    Etiam iaculis placerat enim sed fermentum. Praesent id ex enim. Aenean ut aliquam ipsum.</p>
<p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Contact For More Info</a>
</p>